<div class="displayBox">
<h3>Equipment</h3>
<ol>
  <li *ngFor="let item of equipmentItems">
    <button class="addCargoButton" [disabled]="cargoHold.length >= maxItems || (cargoMass + item.mass) >= maximumAllowedMass" (click)="addItem(item.name, item.mass)">Add to Cargo Hold</button>
    {{item.name}}, {{item.mass}} kg
  </li>
</ol>
</div>

<hr>

<div class = "displayBox">
  <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
  <ol>
    <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
  </ol>
  <p>Mass in Hold: {{cargoMass}} kg</p>
  <p *ngIf="itemAdd; else massWarning">Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
  <ng-template #massWarning>
    <p class="nearMaxMass">Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
  </ng-template>
  <button (click)="emptyCargo()">Empty Hold</button>
</div>
